:root {
    --var-primary: #fb1c1f;
    --var-primary-dark: #00527C;
    --var-secondary: #fff435;
    --var-dark: #241f20;
    --var-light: #ffffff;
}

.wy-side-nav-search {
    background-color: var(--var-primary-dark);
}

.wy-nav-side {
    background-color: var(--var-dark);
}

.rst-versions .rst-current-version {
    background-color: var(--var-primary);
}

.wy-nav-content a {
    color: var(--var-primary);
}

.wy-menu-vertical a:hover {
    background-color: var(--var-primary);
}

.wy-menu-vertical li.toctree-l1.current>a {
    background-color: var(--var-secondary);
    border: 0;
}

.wy-menu-vertical li.current ul {
    background-color: var(--var-light);
}
